*{
	margin:0;
	padding:0;
}

body{
	background:#fbc43c;
	background-repeat:repeat-x;
	background-attachment:fixed;
	font-family:"Arial", "Sans-serif";
}

header{
	background:#fbce5d ;
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

.main{
	width:80vw;
	min-width:1000px;
	margin:auto;
	height:120%;
	background:#fbc43c;
	overflow:hidden;
}

footer{
	background:#fbce5d;
	width:auto;
	color:#f8b111;
	margin:10px 10px 10px 10px;
}

/*colores:
#fbc43c (fondo general)
#452f3d (bordes del nav y aside)
#f9dfc9 (titulo y subviñetas del aside y palabras del menú)
#f76e2e (color del h1)
#c64d32
#fbce5d (fondo del header, footer y articulos)
#f4be89 (color de fuente de los enlaces de las subviñetas del aside) 
#f8b111 (color del footer)
#fce469 
#b0944c (fondo de menu -letras del menu en hover- y del aside) 
*/



a{
	text-decoration:none;	
}

a:hover{
	text-decoration:underline;
}

header h1{
	font-size:2.5em;
	color:#f76e2e;
}

header p{
	margin-bottom:2%;
}

header nav{
	background:#b0944c;
	width:90%;
	margin:10px auto;
	border:2px solid #452f3d;
	overflow:hidden;
}

header nav ul{
	list-style:none;
	margin:auto;
}

header nav ul li{
	float:left;
}

header nav ul li a{ 
	padding:10px 20px;
	display:block;
	color:#f9dfc9;
	text-decoration:none;
}

header nav ul li a:hover{
	background:#fbce5d;
	color:#b0944c;
	text-decoration:none;
	font-weight:bold;
}

header a.e-mail{
	background:#f76e2e;
	color:#f9dfc9;
	padding:10px 20px;
	margin:2%;
	display:inline-block;
	font-weight:bold;
	box-shadow:0px 5px 0px 0px #c64d32;
}

header a.e-mail:hover{
	text-decoration:none;
	box-shadow:0px 2px 0px 0px #c64d32;
}

header a.e-mail:active{
	box-shadow:none;
}

.main a{
	display: block;
}

.articles{
	width:75%;
	background:#fbc43c;
	overflow:hidden;
	float:left;
}

.articulo{
	width:28vw;
	height:auto;
	background:#fbce5d;
	margin:0 0;
	padding:0px 0px;
	float:left;
}

#articulo2{
	margin:0 .5vw;
}

.ancho{
	width:27vw;	
}

.alto{
	height:27vw;
}

aside{
	width:20vw;
	height:110%;
	background:url(imagenes/ahegaosfondo.jpg);
	float:left;
}

aside p{
	color:#c64d32;
	font-weight:bold;
}

div.busqueda{
	width:20vw;
	height:300px;
	background:#b0944c;
	margin:20px 0;
	padding:0 1.5%;
	box-sizing:border-box;
	border:5px solid #452f3d;
	float:left;
}

div.busqueda h2{
	margin:0 1vw;
}

div.busqueda ul li.principal{
	margin:0 2vw;
}

div.busqueda ul li a,aside ul li{
	color:#452f3d;
	text-decoration:none;
}

div.busqueda ul li ul li{
	color:#f9dfc9;
}
div.busqueda ul li ul li a {
	color:#f4be89;
	text-decoration:none;
}

div.busqueda ul li ul li a:hover, div.busqueda ul li a:hover{
	text-decoration:underline;	
}

li ul{
	list-style-type:square;
	margin:0 2vw;
}

h2{
	color:#ffffff;
}

aside h2{
	color:#f9dfc9;
	margin:0;
	font-size:1.4em
}

@media screen and (max-width: 1250px){
	body{
		background:#fbc43c;
	}
	.main{
		width:100%;
		min-width:200px;
		height:90%;
	}
	
	.articles{
		width:70%;
	}
	
	.articulo{
		width:49.5%;
	}
	
	#articulo2{
		margin: 0 .5%;
	}
	
	aside{
		width:30%;
		height:100%;
	}
	
	aside .busqueda{
		width:100%;
	}	
}

@media screen and (max-width: 700px){
	body{
		background:#fbc43c;
	}
	
	.main{
		height:180%;
	}
	
	.articles{
		width:100%;
	}
	
	.articulo{
		width:48%;
		margin:1%;
	}
	
	#articulo2{
		margin:1%;
	}
	
	.ancho{
		width:45vw;
	}
	
	.alto{
		height:45vw;
	}
	
	aside{
		width:50%;
		margin:0 1%;
		height:32%;
	}
	
	div.busqueda ul li.principal{
	margin:0 4vw;
	}
	
	
@media screen and (max-width: 600px){
	aside{
		width:70%;
		margin:0 1%;
		height:32%;
	}
	

	
	








